:host {
    display: block;
    position: relative;
    width: 100%;
}

:host(:not([scrollbar])) ::slotted([slot="scroller"]) {
    scrollbar-width: none;
}

:host(:not([scrollbar])) ::slotted([slot="scroller"])::-webkit-scrollbar {
    display: none;
}

::slotted([slot="scroller"]) {
    position: relative;
    touch-action: pan-y;
    margin: 0;
    display: flex;
    gap: var(--sc-gap);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    padding: 0 var(--sc-padding) !important;
    scroll-padding-inline: var(--sc-padding);
    scroll-behavior: var(--sc-behavior);
}
