:host {
  display: block;
  position: relative;
  width: 100%;
}

:host(:not([scrollbar])) ::slotted([slot="scroller"]) {
  scrollbar-width: none;
}

:host(:not([scrollbar])) ::slotted([slot="scroller"])::-webkit-scrollbar {
  display: none;
}

::slotted([slot="scroller"]) {
  position: relative;
  margin: 0;
  display: flex;
  gap: var(--sc-gap);
  scroll-behavior: var(--sc-behavior);
}

:host(:not([vertical])) ::slotted([slot="scroller"]) {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  scroll-padding-inline: var(--sc-padding);
  padding-inline: var(--sc-padding) !important;
}

:host([vertical]) ::slotted([slot="scroller"]) {
  flex-direction: column;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  overscroll-behavior-y: contain;
  padding-block: var(--sc-padding) !important;
  scroll-padding-block: var(--sc-padding);
}
