snap-carousel:not([scrollbar]) .snp-c__scroller::-webkit-scrollbar {
    display: none;
}

.snp-c__scroller {
    display: flex;
}

.snp-c__scroller > * {
    width: calc((100% / var(--sc-perpage, 1)) - var(--sc-gap, 0) + (var(--sc-gap, 0) / var(--sc-perpage, 1)));
    display: block;
    flex: 0 0 auto;
}
