snap-carousel:not([scrollbar]) [slot="scroller"]::-webkit-scrollbar {
  display: none;
}

snap-carousel [slot="scroller"] {
  display: flex;
}

snap-carousel [slot="scroller"] > * {
  display: block;
  width: calc((100% / var(--sc-perpage, 1)) - var(--sc-gap, 0) + (var(--sc-gap, 0) / var(--sc-perpage, 1)));
  max-width: 100%;
  flex: 0 0 auto;
}
